body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: lightgray;
}

input{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px;
    border: 1px solid #5f9341;
    background-color: lightgray;
}
button{
    color: white;
    background-color: #5f9341;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
