body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: lightgray;
    min-width: 400px;
}

input{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px;
    border: 1px solid #5f9341;
    background-color: lightgray;
}
button{
    color: white;
    background-color: #5f9341;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}
#delete-btn{
    color: #5f9341;
    background-color: lightgray;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
a{
    color: #5f9341;
}